<!doctype html>
<html>
  <head>
    <meta charset=utf8>
<title>{{title}} : PBB Blog</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">

  </head>
    <body>
      <div id="container">
          <header>
            <nav>
              <!--<a href="{{url}}">{{title}}</a> -->
              <a href="/">Home</a>
              <a href="/posts">Posts</a>
            </nav>

          </header>
            <!-- 3 mustaches says I know this is html  -->
            {{{content}}}
            <!-- "triple-stash" means don't want Handlebars to escape a value-->
            {{#dev}}
            <script src="//localhost:35729/livereload.js" >
            {{/dev}}

        <footer>
            <p>Copyright 2015 PBB Web Design</p>
        </footer>
      </div>    
    </body>
</html>
