@charset "utf-8";

body, body * {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

body {
  /*this should be okay*/
  transform-origin: 0 0;
  transform: scale(2);
  margin-left: 200px;
  background: #5d9ab2 url("finalproject.png") no-repeat top left;
}

#container {
  text-align: center;
}

.header {

}

.center_div {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ece9e5;
    text-align: left;
    padding: 8px;
}

h1 {
  color: #663333;
}

h2 {
  color: #abaaa8;
}

a:link {
    color: #663333;
}

/* visited link */
a:visited {
    color: #305f28;
}

/* mouse over link */
a:hover {
    color: #6e80a8;
}

/* selected link */
a:active {
    color: #496109;
}

.shorten {

}

.login {

}

.formAdd {

}

.footer {
    margin: 20px;
}
